@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" dir="rtl">
    <h1 class="display-4">کتابخانه آیسا فراگیر ویرا</h1>
    <br />
    <p class="text-danger"> اگر کاربر دیرکرد داشته باشد رزروهایش اتوماتیک از طریق کلاسOverdueBackgroundService لغو می‌شود </p>
    <br />
    <p class="text-danger">اگر کاربر کتابی رزرو کرد و تا موعد مورد نظر کتاب را تحویل نگرفت رزروش اتوماتیک از طریق کلاس OverdueBackgroundService لغو می‌شود </p>
</div>
